*{
    box-sizing: inherit;
}
.web{
    overflow: hidden;
}

.mt-16 {
    margin-top: 16px;
}

.header {
    height: 38px;
    background-color: #203564;
    color: #fff;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    padding-top: 4px;
    margin: 0 0 0 0;
    display: flex;
}

.header__navbar-logo{
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 38px;
    z-index: 3;
}

.header__navbar-logo::before {
    content: "";
    border-width: 38px 64px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    z-index: -1;
    right: -64px;
    top: 0px;
}

.header__navbar-img{
    max-width:126px;
    width: auto;
    height: auto;
    margin-top: 2px;
    margin-left: 18px;
}

.header__navbar-item{
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__navbar-item:hover {
    cursor: pointer;
    color: rgba(255,255,255, 0.7)
}

.header__navbar-item:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-home{
    margin-left: 200px;
}

.header__navbar-user{
    position: relative;
}

.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 8px);
    right: 0;
    width: 340px;
    border-radius: 2px;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    animation: fadeIn ease-in 0.3s;
    display: none;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    z-index: -1;
    right: 2px;
    top: -28px;
}

.user__menu-heading{
    color: #343434;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 8px 8px 20px 8px;
}

.user-logout:hover{
    cursor: pointer;
    color: #000;
}

.user__menu-heading-item{
    list-style: none;
}

.user__menu-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.user__menu-img{
    height: 80px;
    width: 80px;
    background-color: rgb(255, 38, 190);
    border-radius: 50%;
}

.user__menu-content{
    list-style: none;
    color: #343434;
    line-height: 22px;
}

.user__menu-name{
    color: #000;
    font-weight: 700;
}

.header__navbar-icon{
    font-size: 14px;
    margin: 0 8px;
}

.category{
    background-color: #00a6e2;
    padding: 16px 12px;
    line-height: 40px;
    position: relative;
}

#menu-side{
    right: 0;
    transition: 0.5s;
}

.sidebar{
    padding: 16px 12px;
}

.category-list{
    color: #fff;
    list-style: none;
    margin: 16px 0;
    padding-left: 0;
}

.category-item{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: right linear 0.1s;
}

.category-item:hover{
    cursor: pointer;
    right: -4px;
    font-weight: 700;
}

.category-link{
    text-decoration: none;
    color: #fff;
    padding-left: 8px;
}

.dropdown-container {
    display: none;
    text-decoration: none;
    list-style: none;
    padding-left: 24px;
    line-height: 32px;
}

.dropdown-item {
    padding: 2px 8px;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: rgb(51, 133, 240);
}

.title{
    text-align: center;
    font-size: 36px;
    margin-top: 120px;
    margin-bottom: 0;
}

.sub-title{
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
}

.hide-pin{
    content: "";
    border-width: 8px 16px;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 12px;
}

.open-pin{
    content: "";
    border-width: 8px 16px;
    position: absolute;
    z-index: 4;
    right: -30px;
    top: 12px;
}

.hide-pin-link{
    padding: 8px;
    background-color: #00a6e2;
}

.hide-pin-icon{
    color: #fff;
}

/* ======================Yard====================== */
.yard-content{
    margin: 56px 8px 24px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    border-top: solid 4px #00a6e2;
    background-color: #fff;
  }
  
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

.icon-search {
    float: right;
    padding: 8px;
    border: solid 1px #ccc;
    margin-top: 5px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 50%;
    color: #fff;
    background-color: #203564;
}

.icon-search:hover {
    cursor: pointer;
    background-color: #aaa;
}
  /* Table */
#myTable {
    border-collapse: collapse; 
    width: 100%; 
    font-size: 18px;
}
  
#myTable th, #myTable td {
    text-align: center;
    padding: 12px; 
}
  
#myTable tr {
    border-bottom: 1px solid #ddd;
    color: #203564;
    font-size: 14px;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}


.btn-filter {
    font-size: 14px;
    text-decoration: none;
    border: none;
    padding: 24px 12px 8px 12px;
    outline: none;
    cursor: pointer;
    color: #203564;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-filter {
    padding-right: 8px;
}

.homeFilter input[type=text] {
    padding: 6px;
    margin-left: 12px;
    display: block;
    border: solid 1px #ccc;
}

/* Modal */
.open-modal-btn {
    transition: 0.25s;
  }
  
  .open-modal-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }
  
  .hide {
    display: none;
  }
  
  .modal__inner {
    width: 800px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    animation: showModal linear 0.2s;
    position: relative;
    margin: 80px auto;
  }
  
  @keyframes showModal {
    from {
      top: -200px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  .modal__header {
    background-color: #203564;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 17px;
  }
  
  .modal__body {
    padding: 15px;
  }
  
  .modal__body h2 {
    color: #203564;
    margin-bottom: 10px;
  }
  
  .modal__footer {
    padding: 15px;
    text-align: right;
  }
  
  .modal__footer button {
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: #203564;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }

/* Form */
input[type=text], select {
    width: 98%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

input[type=color] {
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}
  
.btn-create {
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: #203564;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btn-close {
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: #757575;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.pagination {
    display: inline-block;
    float: right;
    margin: 16px 0 16px 0;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}
  
.pagination a {
    color: #00a6e2;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #00a6e2;
    color: #fff;
    border: 1px solid #00a6e2;
}

.pagination a:hover:not(.active) {
    color: #fff;
    border: 1px solid #00a6e2;
    background-color: #00a6e2;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}